@charset "utf-8";

/* * { margin: 0; padding: 0; } */
body { background-color: #ffffff; font-family: "맑은 고딕", 돋움, sans-serif; }
ul { list-style: none; }
a { text-decoration: none; }

#wrap { width: 80%; margin: 0 auto; }

/* header */
header { width: 100%; height: 90px; line-height: 90px; background-color: #069; overflow: hidden; }
header h1 { width: 40%; float: left; color: #fff; padding-left: 20px; font-size: 2em; }
header nav { width: 50%; float: left; }
header nav li { display: inline-block; }
header nav li a { color: #fff; padding: 15px; }

/* section */
section { border: 5px solid #333; padding: 5px; }
section article h3 { background: url("/08/images/bg.png") no-repeat; padding-left: 30px; }
section article dt { font-weight: bold; color: purple; }
section aside { margin-top: 40px; }
section aside h3 { padding-left: 30px; }

/* footer */
footer { padding: 30px; color: #fff; text-align: center; background-color: #333; }